<?xml version="1.0" encoding="UTF-8"?>
<simulation>
	<function_space>
		<workspace>
			<particle_system>
				<cell_size value="csize"/>
				<domain min="-dsize/2/csize-2|-dsize/2/csize-2" max="dsize/2/csize+2|dsize/2/csize+2"/>
				<grid>
					<gid value="0"/>
					<gpos value="-dsize/2|-dsize/2"/>
					<gsize value="dsize|dsize"/>
					<goffset value="0|0"/>
					<gip_dist value="dx|dx"/>
				</grid>
			</particle_system>
			<fields>
				<pos value="0.1|0.2"/>
				<w value="if(lt(magnitude(r-pos),0.1),1,0)"/>
				<w_d value="0"/>
				<w_dd value="0"/>
			</fields>
			<constants>
				<dsize value="1"/>
				<csize value="dsize/30"/>
				<dx value="csize/2.1"/>
				<rho0 value="1000"/>
				<mass value="dx^2*rho0"/>
				<dt value="0.002"/>
				<a value="0.1"/>
			</constants>
			<variables>
				<T value="0"/>
			</variables>
		</workspace>
	    <functions>
	    	<eq0 value="T=T+dt"/>
	    	<eq1 value="w_dd=a*sph_L00(w,mass,rho0,Wp22220)"/>
	    	<p2 value="w_d=w_d+int2(w_dd,dt)"/>
	    	<p3 value="w=w+int2(w_d,dt)"/>
	    </functions>
	</function_space>
	<parameter_space>
		<simulated_time value="5"/>
		<print_interval value="0.02"/>
		<confirm_on_exit value="0"/>
	</parameter_space>
</simulation>