<?xml version="1.0" encoding="UTF-8"?>
<simulation>
	<function_space>
		<workspace>
			<particle_system>
				<cell_size value="csize"/>
				<domain min="-1000|-1000" max="1000|1000"/>
				<grid>
					<gid value="0"/>
					<gpos value="-0.25|-0.25"/>
					<gsize value="0.5|0.5"/>
					<goffset value="0|0"/>
					<gip_dist value="dx|dx"/>
				</grid>
			</particle_system>
			<fields>
				<a value="0|0"/>
				<v value="0|0"/>
				<!-- <radius value="dx/2"/> -->
				<radius value="rand(dx/6,dx)"/>
			</fields>
			<constants>
				<csize value="0.05"/>
				<dx value="csize/2.1"/>
				<mass value="0.01"/>
				<dt value="0.002"/>
				<spring value="2000000"/>
				<damping value="50"/>
				<shear value="1000"/>
			</constants>
			<variables>
				<T value="0"/>
			</variables>
		</workspace>
	    <functions>
	    	<time value="T=T+dt"/>
	    	<acc value="a=dem(v,radius,mass,spring,damping,shear)+0.015*nbody(mass,1)"/>
	    	<vel value="v=int1(a,dt)"/>
	    	<pos value="r=r+int1(int1(a,dt),dt)"/>
	    </functions>
	</function_space>
	<parameter_space>
		<simulated_time value="2"/>
		<print_interval value="0.015"/>
		<confirm_on_exit value="0"/>
	</parameter_space>
</simulation>